.movies img, .series img {
    width: 8%;
    height: auto;
    padding: 0 2% !important;
}

.battletoads img{
    width:200px;
    height:150px;
    padding:0 50px;
}

.primer-slide, .segundo-slide {
    background:url("../images/space.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}