.movies img, .series img {
    width: 8%;
    height: auto;
    padding: 0 2% !important;
}

.battletoads img{
    width:200px;
    height:150px;
    padding:0 50px;
}

.primer-slide {
    background:url("../images/x.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.segundo-slide {
    background:url("../images/z.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.title h1{
    color:#1cb2d8 !important;
    text-shadow: none !important;
}